@{
    ViewData["Title"] = "3D Unsupervised Graph";
}
<!-- Use the result of the API call in your view -->
<h1>@ViewData["Title"]</h1>

<div id="graph-container">
    @*<script>
        var graphContainer = document.getElementById('graph-container');
        var graphData = JSON.parse('@Html.Raw(ViewBag["graphJson"])');
        Plotly.newPlot(graphContainer, graphData);
    </script>*@
</div>